<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>轻談——个人资料</title>
<!-- 引入CSS -->
<link rel="stylesheet"
	href="../plugins/bootstrap-4.4.1-dist/css/bootstrap.min.css">
</head>
<body>
	<div class="navbar navbar-expand-lg navbar-light bg-light"
		th:replace="nav::navbar"></div>
	<h1>个人资料</h1>
	<div>
		<p th:text="'Welcome '+${spitter.username}+'!'"></p>
		</br>
		<p th:text="'用户名：'+${spitter.username}"></p>
		</br>
		<p th:text="'姓名：'+${spitter.firstName}+'.'+${spitter.lastName}"></p>
		</br>
		<p th:text="'邮箱：'+${spitter.email}"></p>
		</br>
		<p
			th:text="'注册时间:'+${#dates.format(spitter.registationDate,'yyyy-MM-dd')}"></p>
		</br> <a th:href="@{/spitter/updateSpitterInfo}">Update Your Profile</a>
	</div>
	<h2>你的发言</h2>
	<div>
		<li th:each="spittle,spittleState:${spittleList}">
			<div class="spittleMessage" th:text="${spittle.message}"></div>
			<div>
				<span class="spittleTime"
					th:text="'Send Time:'+${#dates.format(spittle.time,'yyyy-MM-dd HH:mm:ss')}"></span>
				<span class="spittleUsername"
					th:text="'Send By:'+${spittle.username}"></span>
			</div>
			<button type="submit">
				<a th:href="@{'/spitter/deleteSpittle/'+${spittle.id}}">delete
					this spittle</a>
			</button>
		</li>
	</div>
</body>
<!-- 引入js -->
<script src="../plugins/jquery/js/jquery-3.4.1.min.js"></script>
<script src="../plugins/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
<script src="../js/SetSize.js"></script>
<script src="../js/nav.js"></script>
</html>