<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>轻談——搜索</title>
<!-- 引入CSS -->
<link rel="stylesheet" href="../plugins/bootstrap-4.4.1-dist/css/bootstrap.min.css">
</head>
<body>
	<div class="navbar navbar-expand-lg navbar-light bg-light"
		th:replace="nav::navbar"></div>
	<h>search!</h>
</body>
<!-- 引入js -->
<script src="../plugins/jquery/js/jquery-3.4.1.min.js"></script>
<script src="../plugins/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/SetSize.js"></script>
</html>