<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>轻談——发言</title>
<!-- 引入CSS -->
<link rel="stylesheet"
	href="./plugins/bootstrap-4.4.1-dist/css/bootstrap.min.css">
</head>
<body>
	<div class="navbar navbar-expand-lg navbar-light bg-light"
		th:replace="nav::navbar"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12" style="height: 5%"></div>
			<div class="col-xs-12 col-md-12" style="height: 40%">
				<form method="POST" th:object="${spittle}">
					<div class="form-group col-xs-12 col-md-10 offset-md-1">
						<textarea class="form-control" rows="6" th:field="*{message}">
						</textarea>
					</div>
					<div class="form-group col-xs-12 col-md-10 offset-md-1">
						<div style="text-align: right">
							<input class="btn btn-primary" type="submit" value="发言">
							<!--  <botton class="btn" type="submit">登录</botton> -->
						</div>
					</div>
				</form>
			</div>
			<div class="col-xs-12 col-md-12" style="height: 5%"></div>
			<div class="col-xs-12 col-md-10 offset-md-1" style="height: 45%">
				<ul class="list-group">
					<li th:each="spittle,spittleState:${spittleList}"
						class="list-group-item">
						<div class="row">
							<div class="spittleUsername col-xs-4 col-md-4 mr-auto"
								th:text="${spittle.username}"></div>
							<div class="spittleTime col-xs-6 col-md-6 ml-auto" style="text-align:right"
								th:text="${#dates.format(spittle.time,'yyyy-MM-dd HH:mm:ss')}">
							</div>
						</div>
						<div class="row">
							<div class="spittleMessage col-xs-12 col-md-12"
								style="word-break: break-all; word-wrap: break-all;"
								th:text="${spittle.message}"></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
<!-- 引入js -->
<script src="../plugins/jquery/js/jquery-3.4.1.min.js"></script>
<script src="../plugins/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/SetSize.js"></script>
</html>